body {
  scroll-behavior: smooth;
}

.bg-red{
    background: #dc3545;
}
.bg-blue{background: #0d6efd;}
.bg-green{background: #198754;;}
.bg-yellow{background:#ffc107}
.bg-lime{background: deepskyblue;}
.themed-container{
    padding: .75rem;
      margin-bottom: 1.5rem;
      background-color: rgba(0, 123, 255, .15);
      border: 1px solid rgba(0, 123, 255, .2);
  }
  .themed-col{
    padding: .75rem;
    background: rgb(239 243 12 / 12%);
    border: 1px solid rgba(86, 61, 124, .2); 
  }

.layout{font-size: 25px;}

.bd-aside a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: .3125rem;
  color: rgba(0, 0, 0, .65);
  text-decoration: none;
}

.bd-aside a:hover,
.bd-aside a:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .active {
  font-weight: 600;
  color: rgba(0, 0, 0, .85);
}

.bd-aside .btn {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  border: 0;
}

.img-container img{margin-right: 10px;}
.img-container img:last-child{margin-right: 0}